.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

* {
  font-family: Roboto;
}

.Nav {
  background-color: rgb(250, 250, 250);
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-end;
}

.Title {
  margin-top: 0;
  color: black;
  text-align: center;

  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  /* margin-right: auto; */
}

.Title:hover {
  background-color: rgb(218, 218, 218);
}

.NavLink {
  margin-top: 0;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  color: black;
  text-align: center;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 1em;
  padding-right: 1em;
}

.Nav .NavLink:hover {
  background-color: rgb(218, 218, 218);
}

.SearchForm {
  display: inline-flex;
  flex-grow: 50;
  flex-shrink: 50;
  flex-basis: auto;
  padding-top: 0.5em;
  padding-bottom: 1em;
  padding-left: 0.5em;
}

.SearchBar {
  flex-grow: 100;
  flex-shrink: 100;
  flex-basis: auto;
  font-size: 100%;
  align-self: center;
  margin-right: 1em;
}

.SearchButton {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
}

.EmptyFlex {
  flex-grow: 1;
  flex-shrink: 0;
}

.button {
  background-color: rgb(53, 141, 255);
  color: white;
  border-radius: 0.25em;
  border-style: none;
  
  text-transform: uppercase;
  font-size: auto;

  padding: 0.6em;

}

.ripple {
  background-position: center;
  transition: background 0.8s;
}

.ripple:hover {
  background: #47a7f5 radial-gradient(circle, transparent 1%, #47a7f5 1%) center/15000%;
}

.ripple:active {
  background-color: #6eb9f7;
  background-size: 100%;
  transition: background 0s;
}

.Notification {
  text-align: center;
}

